
.register{
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-direction: column; */
}
.register__container{
    background-color: whitesmoke;
    justify-content: center;
    width: fit-content;
    padding: 40px;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    border-radius: 10px;
}
.register__container > input{
    
    margin: 10px;
    padding: 10px 40px ;
    align-items: left;
    
}
.register__container > button {

    background-color: blue;
    margin-top: 20px;
    padding: 13px 40px;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}